#EXTINF
#EXTINF:-1,beIN_Max_5_H265
http://x7hd.com:8888/najwan/najwan1234/41083
#EXTINF:-1,beIN_Max_5_Low
http://x7hd.com:8888/najwan/najwan1234/41079
#EXTINF:-1,beIN_Max_5_SD
http://x7hd.com:8888/najwan/najwan1234/41081
#EXTINF:-1,beIN_Max_5_VEGA
http://x7hd.com:8888/najwan/najwan1234/41077
#EXTINF:-1,beIN_Max_6_Low
http://x7hd.com:8888/najwan/najwan1234/41080
#EXTINF:-1,beIN_Max_6_SD
http://x7hd.com:8888/najwan/najwan1234/41082
#EXTINF:-1,beIN_Max_6_VEGA
http://x7hd.com:8888/najwan/najwan1234/41078
